{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    [
      "transform-object-rest-spread",
      "transform-react-remove-prop-types",
      {
        "mode": "wrap"
      }
    ]
  ]
}
